<header id="blog-header">
  <div id="header-container">
    {{#if @blog.logo}}
    <a href="{{@blog.url}}">
      <img src="{{@blog.logo}}" alt="{{t "Logo"}}">
    </a>
    {{else}}
    <h1>
      {{@blog.title}}
    </h1>
    {{/if}}
  </div>
</header>
