<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/grayscale.min.css"}}">
    <script src="{{asset "js/highlight.min.js"}}">
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    {{{body}}}
    {{> "site-footer"}}
    {{ghost_foot}}
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
