{{!< default}}
{{#post}}
  <main role="main">
    <article class="{{post_class}}">
      <header id="post-header"
      {{#if feature_image}}
        style="background-image: url({{feature_image}});"
      {{/if}}
      >
        <div id="post-details">
          <a class="home" href="{{@blog.url}}">&larr;</a>
          <h1>{{{title}}}</h1>
          <time datetime="{{date format='YYYY-MM-DD'}}">
            {{date format="YYYY.MM.DD"}}
          </time>
          <span class="seperator"></span>
              {{tags separator=", "}}
          </div>
      </header>
      <section id="post-body">
        {{content}}
      </section>
    </article>
  </main>
{{/post}}
